/* -----------------------------Main Object Table------------------------------*/
.list-group {
  margin: 0 0 5px 0;
}
#carInnerLi {
  padding: 2px 5px 2px 5px;
  background-color: rgb(12, 12, 22);
  background-position: 50% 25%;
  background-size: cover;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 0 0 10px 0;
}
.carTable {
  font-size: 16px;
  padding: 0;
  margin: 3px 7px 0 0;
}
.carTable tbody tr {
  color: rgb(207, 206, 206);
  border-radius: 5px;
  cursor: pointer;
  padding: 0 0 0 0;
  margin: 5px 0 0 0;
  -webkit-box-shadow: 0px 0px 4px 3px rgb(61, 61, 61);
  -moz-box-shadow: 0px 0px 4px 3px rgb(61, 61, 61);
  box-shadow: 0px 0px 4px 3px rgb(61, 61, 61);
}
.carTable tbody tr:hover {
  color: rgb(3, 192, 192);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
  -moz-box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
  box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
}
.carTable tbody tr td {
  padding: 0 5px 0 5px;
}
.addingObjTableCarAgr td {
  margin-left: 25px;
  font-size: 13px;
}
.addingObjTableCarAgr {
  margin-left: 25px;
}
#deleteCarBtn {
  font-size: 10px;
  margin: 5px 0 0 0;
  padding: 0 5px 0 5px;
  color: #ff2400;
}
#deleteCarBtn:hover {
  color: black;
}
.headTable {
  color: rgb(43, 158, 43);
  font-size: 15px;
  font-weight: 600;
  background-color: none;
  margin: 2px 0 0 0;
  user-select: none;
}
.routeTO2 pre {
  margin: 1px 0 0 0;
  font-size: 13px;
  font-weight: 300;
  color: rgb(175, 172, 172);
}
#summary {
  display: flex;
}
#summaryConteiner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.smallEnd {
  margin: 0 30px 0 0;
}
#small {
  color: rgb(37, 180, 37);
}
#small:hover {
  color: rgb(52, 235, 52);
}
#hr small {
  font-size: 8px;
}
